body{
    font-family: 'Montserrat';
}
#title {
    background-color: #ff4c68;
    color: white;
}

.main-heading {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;

}

#iphone-mockup-img {
    width: 20%;
    left: 58%;
    transform: rotate(25deg);
    position: absolute;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 10%;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

/* Download Buttons */

.downlaod-button {
    margin: 5% 3% 0;
}

/* Feature Section */

#features {
    background-color: #fff;
    margin: auto;
    padding: 10% 3%;
    position: relative;
}

.feature-items{
    padding: 30px 25px;
    text-align: center;
}

.feature-items h3 {
    font-weight: 900;
    font-size: 1.5rem;
}

.feature-items p {
    color: #8f8f8f;
}

.feature-icon {
    color: #ef8172;
    padding-bottom: 20px;
}

.feature-icon:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
    padding: 10% 0;
    text-align: center;
    color: #fff;
}

.testimonial-text {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    padding: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
}

.press-image {
    width: 15%;
    padding: 20px 20px 50px;
}

.carousel-item {
    padding: 0 12% ;
}

/* Pricing Section */

#pricing {
    padding: 5% 5%;
    font-weight: 900;
}

.pricing-column {
    padding: 3% 2%;
    text-align: center;
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 12% 0;
}

#cta h3 {
    font-weight: 900;
    color: #fff;
}


.downlaod-button-cta {
    margin: 1% 1% 0;
}

@media (max-width: 1028px) {
    #iphone-mockup-img {
        transform: rotate(0);
        position: static;
        width: 60%;
        padding-top: 5%;
    }

    #title {
        text-align: center;
    }
}

#footer {
    padding: 10% 0 0;
    text-align: center;
}

.footer-icon {
    padding: 0 3% 3%;
}